@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700;800&display=swap");
@import "variables";

* {
  box-sizing: border-box;
  font-family: $font-stack;
}

.pt-10 {
  margin-top: 10px;
}

.margin-vertical {
  margin-top: $margin-vertical;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.row {
  display: flex;
}

.container {
  width: 75%;
  margin: auto;
  margin-top: $margin-vertical;
}

body {
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  background-color: $secondary-bg;
  justify-content: flex-end;
  cursor: pointer;
  height: $height-menu;

  &__item {
    display: flex;
    align-items: center;
    margin: 5px 8px;
  }
  &__wrap-link {
    font-size: $font-size-super-small;
    margin-left: 5px;
    color: $primary-text;
  }
  &__wrap-icon i {
    font-size: $font-size-super-small;
    color: $primary-text;
  }

  &__toggle-mobile-menu {
    display: none;
  }

  &__logo img {
    display: none;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 15px 0px;
  height: $height-navbar;

  &__nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 10px 30px;
  }

  &__link {
    font-size: $font-size-text-header;
    font-weight: $font-weight-800;
    color: $regular-text;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__link:hover {
    color: $primary-bg;
  }

  &__form-search {
    border: 1px solid $border-color;
    padding: 5px 15px;
    display: flex;
    align-items: center;
  }

  &__form-search i {
    color: #999999;
  }

  &__input-search {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: $font-size-super-small;
    font-family: $font-stack;
  }
}

.carousel {
  &__image {
    width: 100%;
    object-fit: cover;
    height: 80vh;
  }
}

.combo {
  &__title {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: $font-weight-800;
  }

  &__description {
    margin-top: 7px;
    color: $secondary-text;
    font-weight: $font-weight-regular;
  }

  &__image {
    width: 100%;
    object-fit: cover;
    height: 350px;
  }

  &__item {
    margin: 10px 15px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }
}

.category {
  margin-top: $margin-vertical;

  &__item {
    margin: 0 13px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__title {
    text-align: center;
    font-weight: $font-weight-800;
  }

  &__wrapper {
    margin: auto;
    justify-content: space-between;
  }

  &__image {
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 1s;
  }

  &__image:hover {
    transform: scale(1.09);
  }

  &__big-text {
    text-align: center;
    font-size: $font-size-medium;
    font-weight: $font-weight-700;
    color: $primary-bg;
  }

  &__small-text {
    margin-top: 8px;
  }

  &__small-text:hover {
    color: $primary-bg;
  }

  &__description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $primary-text;
  }
}

.footer {
  background-color: $secondary-bg;
  margin-top: $margin-vertical;
  padding-top: $margin-vertical;
  padding-bottom: $margin-vertical;

  &__header {
    color: $primary-bg;
    font-weight: $font-weight-700;
    font-size: $font-size-normal;
    margin-bottom: 10px;
  }

  &__list_menu {
    padding-left: 0;
    list-style: none;
  }

  &__list-item {
    margin-top: 12px;
  }

  &__link {
    color: $primary-text;
    text-decoration: none;
  }

  &__link:hover {
    color: $primary-bg;
  }

  &__subcription-input {
    display: flex;
  }

  &__input {
    border: none;
  }

  &__button {
    background-color: $primary-bg;
    padding: 10px;
    outline: none;
    border: none;
    padding: 10px 20px;
    color: $primary-text;
  }

  &__copyright {
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
  }

  &__copyright-text {
    color: $primary-text;
  }

  &__logo-analas {
    margin-top: 4px;
  }
}

.overplay {
  display: block;
  position: relative;

  &__cover {
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: #000000, $alpha: 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
  }

  &__content {
    background-color: #ffffff;
    position: fixed;
    top: 10px;
    left: 50%;
    z-index: 2;
    width: 50%;
    transform: translateX(-50%);
    padding: 10px;
    border-top: 8px solid $primary-bg;
    border-radius: 4px;
    display: none;
  }

  &__list {
    list-style: none;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__item {
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 2px solid $white-bg;
    transition: 0.6s;
    padding-bottom: 8px;
  }

  &__item:hover {
    border-left: 2px solid $primary-bg;
  }

  &__item:hover &__link {
    color: $primary-bg;
  }

  &__link {
    text-transform: uppercase;
    text-decoration: none;
    color: $regular-text;
    font-weight: $font-weight-700;
  }

  &__close-button {
    position: absolute;
    right: 20px;
  }

  &--active &__content {
    display: block;
  }

  &--active &__cover {
    display: block;
  }
}

.introduction {
  &__gif {
    width: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 300px;
    height: 300px;
  }

  &__text {
    font-size: $font-size-small;
    text-align: center;
  }
}
