$font-stack: "Roboto Slab", serif;

$primary-bg: #ff5f17;
$secondary-bg: #222831;
$white-bg: #fff;

$primary-text: rgb(245, 245, 245);
$secondary-text: #444;
$regular-text: #222;

$border-color: #dfdfdf;

$font-size-super-small: 0.8rem;
$font-size-small: 0.9rem;
$font-size-text-header: 1.4rem;
$font-size-normal: 1.1rem;
$font-size-medium: 1.6rem;

$font-weight-300: 300;
$font-weight-regular: 400;
$font-weight-700: 700;
$font-weight-800: 800;

$margin-vertical: 70px;

$height-menu: 31px;
$height-navbar: 122px;

$font-size-icon-small-mobile: 1rem;
